@model StraussDa.FantasyFootballLibrary.TestUserProfile

@{
    ViewData["Title"] = "Create";
    ViewData["Action"] = "Create";
}

<h4>TestUserProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.Partial("_editProfile", Model, ViewData)
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

