@model StraussDa.FantasyFootballLibrary.Player

@{
    ViewData["Title"] = "Edit Player";
    ViewData["Action"] = "Edit";
}

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.Partial("_editPlayer", Model, ViewData)
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

